* {
    margin: 0;
    padding: 0;
    height: 100%;
  }

#bg {
    background-image: url("backgrounds/bucket.gif");
    filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
}
